.add {
  background-color: #e7eaee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;

  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 70%;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 16%;
}

.input {
  margin-left: auto;
  height: 50%;
  width: 40%;
  font-size: 1.5rem;
  background: #bfd0fd;
  border: none;
}

.input:focus {
  border: 2px solid #0f50f7 !important;
  border-radius: 5px;
  outline: none !important;
}

.p {
  margin-right: 10%;
  height: 100%;
  line-height: 70px;
}

.submitBtn {
  width: 50%;
  height: 12%;

  background: #0f50f7;
  box-shadow: 6px 6px 0px #bfd0fd;
  border-radius: 10px;
  border: none;

  font-family: "IBM Plex Sans Devanagari";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;

  color: #ffffff;
}

.submitBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.modalBtn {
  width: 280px;
  height: 77px;
  background: #0f50f7;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #bfd0fd;
  border: none;
  font-family: "IBM Plex Sans Devanagari";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 55px;
  color: #ffffff;
  cursor: pointer;
}

.modalDiv {
  height: 50%;
  width: 80%;
  font-family: "IBM Plex Sans Devanagari";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .p {
    margin-right: 0%;
    font-size: 1.4rem;
  }

  .submitBtn {
    width: 50%;
    height: 12%;
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
}