.search {
    background-color: #e7eaee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "IBM Plex Sans Devanagari", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
  
    height: 100vh;
    width: 100vw;
  }
  
  .searchContainers2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  
    height: 70vh;
    width: 100vw;
  }